data/

# Audio & datasets
Datasets/
datasets/
Samples/
Recordings/
*.wav
*.mp3
*.flac
*.zip

# ML artifacts
*.npy
*.npz
*.pt
*.pth
*.h5
*.csv
Model Data/
checkpoints/

# Python noise
__pycache__/
.venv/
venv/
.env

# IDE noise
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db


# Version 1 (ALLOW)
!version_1/data/checkpoints/
