# Audio & datasets
data/
Datasets/
datasets/
Samples/
Recordings/
*.wav
*.mp3
*.flac
*.zip

# ML artifacts
*.npy
*.npz
*.pt
*.pth
*.h5
*.csv
checkpoints/
Model Data/

# Python noise
__pycache__/
.venv/
venv/
.env

# IDE noise
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
